:root{

    /*Principales*/
  --primary:           #5265E1;
  --secondary:         #FA5959;

     /* Fondos / Lienzo */
  --color-white:         #FBFCFC;
  --color-grey-lightest: #BAC3E4;
  --color-grey-light:    #A8AED6;

  /* Texto */
  --color-darkest:      #292929;
  --color-navy:         #2B2F49;
  --color-grey:         #9FA1AB;
  --color-grey-dark:    #585A64;

  /* Botones / Destacados */
  --color-primary:      #5165DA;
  --color-primary-dark: #3D4996;
  --color-primary-light:#7A8AE4;
  --color-secondary:    #4F5CAB;
  --color-red:          #F75F60;
}

body{
    background: var(--color-white);
    margin: 0;
    font-family: 'Inter';

}

 header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1em; 
    max-width: 100%;
}

nav ul{
    background: none;
    display: flex;
    justify-content: space-between;
    gap:2em;
    list-style: none;
   
    a{
        color: var(--color-darkest);
        text-decoration: none;
        font-family: "Inter";
        list-style: none;
        font-style: bold;
        font-size: 1rem;
        display: flex;

        &:hover{
            color: var(--secondary)
        }
    }
}

html, body {
    overflow-x: hidden;
}

.btn-primary{
    background-color: var(--primary);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;

    &:hover{
        background-color: var(--color-white);
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}

.btn-secondary{
    background-color: var(--secondary);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: var(--color-white);
        border: 1px solid var(--secondary);
        color: var(--secondary);
    }
}

.btn-grey{
    background-color: rgb(244, 244, 244);
    color: var(--color-grey-dark);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: none;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    font-weight: bold;
    cursor: pointer;

    &:hover{
        background-color: var(--color-white);
        border: 1px solid var(--color-grey-lightest);
        color: var(--color-grey-dark);
    }

}
/* General */

    body{
        margin: 0;
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: none;
        flex-flow: wrap;
    }

    nav ul{
        position: fixed;
        background:none;
        display:flex;
        z-index: 999;
        gap:2em;
        height: auto;
        max-width: 100%;
        transform: translateX(0%);

        a{
          color: var(--color-darkest);
          text-decoration: none;
          font-family: "Inter";
          list-style: none;
          font-style: bold;
          font-size: 1rem;

          &:hover{
            color: var(--secondary);
          }
        }
    }


 /* Mobile */

    .wrap{
        margin: 0;
        width: auto;
    }
    
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--color-navy);
        flex-flow: wrap;
        padding: 0 1em;
    }
    .header-left {
        display: flex;
        align-items: center;
    }
   .header-right {
        display: flex;
        align-items: center;
    }

    nav ul{
        position:unset;
        background:none;
        display:flex;
        gap:2em;
        height: auto;
        width: 100%;
        transform: translateX(100%);
        transition: 0.4s ease-in-out;
    }

    .nav-list{
        background-color: var(--color-navy);
        position: fixed;
        z-index:999;
        top:0;
        right: 0;
        overflow-x: hidden;
        height: 100%;
        margin: 0%;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        width: 100%;
        color: var(--color-white);
        transform: translateX(100%);
        transition: 0.4s ease-in-out;

        li{
            margin: 1em 0;
            &:nth-of-type(1){
                 margin-bottom: 2em;
            }
        }

        a{
            color: var(--color-white);  
        }

    }

    #login-btn{
        color: white
    }

    .open{
        transform: translateX(0%);
    }

    .menu-open img{
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
        width: 20px;        
        height: 20px;
        padding-right: 5em;
    }

    header {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 1em; 
          max-width: 100%;
          margin: 0.5em 1em;
    }

    body{
        margin: 2em 0;
        max-width: 100%;
    }

    /*Hero Section*/
    
    .hero{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 0;       
    }
    
    .hero img{
        max-width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        order:1;
        margin-top: 2em;
    }

    .left-hero{
        display: flex;
        text-align: center;
        align-items: center;
        order: 2;
        flex-direction: column;
        margin: 0;
    }

     .rectangle{
        position: absolute;
        width: 65%;
        height: 35%;
        background-color: var(--primary);
        border-radius: 40% 0 0 40%;
        right: 0;
        top: 7.5em;
        z-index: -1;
    }

    .hero-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        width: 80%;
        gap: 1em;
        font-size: 0.875rem;
        line-height: 1.2;
    }

    .hero h1{
        font-size: 2.125rem;
        margin: 0;
        line-height: 1.2;
        color: var(--color-darkest);
    }

    .hero p{
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-grey);
        max-width: 35ch;
        margin-bottom: 2em;
    }

    /*Features Section*/

    .features-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

     .features-1 h3{
        color: var(--color-darkest);
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .features-1 p{
        display: flex;
        align-items: center;
        max-width: 35ch;  
        line-height: 1.5;
        font-size: 1rem;
        color: var(--color-grey);
    }

    .left-features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2em;
    }

    .right-features button{
        display: none;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }   

    .tabs .tab-list {
       display: flex;
       gap: 1.5rem;
       border-bottom: 2px solid #e0e0e0;
    }

    .tab {
       border: none;
       border-bottom: 1px solid #e0e0e0;
       border-top: 1px solid #e0e0e0;
       background: none;
       color: #555;
       font-weight: 500;
       margin: 0 10px;
       padding: 1rem 0;
    }

    .tab:hover {
       color: #1f1f1f;
       border-bottom: 3px solid red;
    }

    .features-2{
        position: relative;
    }

    .left-features img{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2em 0;
    }

    .rectangle-2 {
        position: absolute;
        width: 75%;
        height: 45%;
        background-color: var(--primary);
        border-radius: 0 50% 50% 0;
        left: 0;
        top: 5.5rem;
        z-index: -1;
    }

    .right-features{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .right-features h3{
        color: var(--color-darkest);
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .right-features p{
        max-width: 35ch;  
        line-height: 1.5;
        font-size: 1rem;
        color: var(--color-grey);
    }

    .right-features button{
        display: none;
    }

    /*Download Section*/

    .download{
        margin: 2em 0;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .download-text h3{
        color: var(--color-darkest);
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .download-text p{
        max-width: 35ch;  
        line-height: 1.5;
        font-size: 1rem;
        color: var(--color-grey);
    }

    /*Cards*/

    .card-chrome{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        max-width: 300px;
        flex: 1;
    }

    .cards p{
        color: var(--color-grey);
    }

    .card-firefox{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        max-width: 300px;
        flex: 1;
    }
     .cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin-top: 2rem;
        margin-bottom:  2rem;
    }

    .card-opera{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        max-width: 300px;
        flex: 1;
    }

    .bg-dots{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    /*FAQs Section*/

    .faq-text{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .faq-text h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
        margin-bottom: 0.75em;
    }

    .faqs{
        list-style: none;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-flow: column nowrap;       
    }

     .faqs h4{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
        max-height: 20ch;
    }

    .faq details summary {
        max-width: 500px;
        list-style: none;
        cursor: pointer;
        display: flex;               
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;   
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        margin:0 auto;
        padding: 0 1.5rem; 
    }

    .faq h4{
        font-size: 0.875rem;
        line-height: 1.5;
        color: var(--color-darkest);
        flex-flow: wrap;
    }

    .faq p{
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 0.5rem 0 1.5rem;
        color: var(--color-grey);
    }

    .info-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        line-height: 1.2;
        margin-top: 2em;
        margin-bottom: 5em;
    }

    /*Formulary Section*/

    .newsletter {
        background: var(--primary);
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--primary);
        align-items: center;
        justify-content: center;
        margin-top: 2.75em;

        a{
            color: var(--color-white);
            text-decoration: none;
            font-size: 0.875rem;
            margin-top: 1em;
        }
    }

    .form-text h3{
        display: flex;
        color: var(--color-white);
        font-size: 1.75rem;
        text-align: center;
    }

    .form-text p{
        letter-spacing: 0.10em;
        color: var(--color-white)   ;
        font-size: 0.875rem;
        line-height: 1.2;
    }

    .formulary{
        display: flex;
        background: var(--primary);
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        gap: 0.875rem;
        flex-direction: column;
        width: 70%;
    }

    #email{
        padding: 0.75rem 0rem;
        text-align: center;
        border-radius: 5px;
        border: none;
        gap: 1em;
        width: 100%;
    }

    .formulary button{
        background-color: var(--secondary);
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        width: 100%;

        &:hover{
            background-color: var(--color-white);
            border: 1px solid var(--secondary);
            color: var(--secondary);
        }
        
    }

    /*Navbar 2*/
.navbar2 {
    background: var(--color-navy);
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 0 0;;
    width: 100%;
}

.nav-list2 {
    background-color: var(--color-navy);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.nav-list2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list2 a {
    color: var(--color-white);
    font-size: 0.875rem;
    text-decoration: none;
    margin: 0.5em 1em;
}

#social-icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 1em 0 0 0;
}

@media (min-width: 700px){ /* Desktop */

    .wrap{
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 26em;
        background-color: none;
        flex-flow: nowrap;
    }
        nav ul{
        position: unset;
        background:none;
        display:flex;
        gap:2em;
        height: auto;
        max-width: 100%;
        transform: translateX(0%);

        a{
          color: var(--color-darkest);
          text-decoration: none;
          font-family: "Inter";
          list-style: none;
          font-style: bold;
          font-size: 1rem;
        }
    }

    body{
        margin: 0;
        padding: 0;
    }

    .nav-list {
        display: flex !important;
        position: unset;
        background: none;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        transform: none;
        width: 100%;
        margin-right: 14em;

     a{
        color: var(--color-darkest);
        text-decoration: none;
        font-family: "Inter";
        list-style: none;
        font-style: bold;
        font-size: 1rem;
     }

     &:hover{
        color: var(--secondary);
     }
    }

    .menu-open img{
        display: none;
    }

    .left-hero{
        display: flex;
        flex-direction: column;
        text-align: start;
        align-items: start;
        justify-content: center;
        flex: 1;
        width: 100%;
        margin-left: 3em;
    }

    .hero{
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;              
        margin:0;       
        max-width: 100%;
        padding: 0 8em; 
    }
    .hero h1{
        font-size: 2rem;
        margin: 0;
        line-height: 1.2;
        color: var(--color-darkest);
    }

    .hero p{
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-grey);
        line-height: 1.5;
    }

    .hero img{
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: auto;
        max-width: 600px;
    }

    .rectangle{
        position: absolute;
        width: 35%;
        height: 65%;
        background-color: var(--primary);
        border-radius: 40% 0 0 40%;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .hero-buttons{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        font-size: 0.875rem;
        line-height: 1.2;
        gap: 1em;
        white-space: nowrap;
        white-space: 100%;
    }

    /*Features Section*/

    .features-1{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .features-1 h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
    }

    .features-1 p{
        max-width: 50ch;          
        margin: 0 auto;
        line-height: 1.5;
        color: var(--color-grey);
    }

    .right-features button{
         background-color: var(--primary);
         color: white;
         padding: 0.5rem 1.5rem;
         border-radius: 5px;
         border: none;
         font-weight: bold;

        &:hover{
           background-color: var(--color-white);
           border: 1px solid var(--primary);
           color: var(--primary);
        }
    }
    
    .tabs .tab-list {
       list-style: none;
       display: flex;     
       justify-content: center;       
       flex-direction: row;      
       gap: 1.5rem;              
       border-bottom: 2px solid #e0e0e0;
       padding: 0;             
       margin-bottom: 1rem; 
       width: 100%;
    }

    .tab {
       position: relative;
       padding: 0.5rem 0;
       cursor: pointer;
       color: var(--color-grey);
       font-weight: 500;
       transition: color 0.2s;
       border-top: 2px solid var(--color-grey-lightest);
       margin-bottom: 2px solid var(--color-grey-lightest);
       border-bottom: 2px solid var(--color-grey-lightest);
       margin-bottom: 2rem;
    }

    .tabs {
       display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 2rem;
    }

    .tab:hover {
       color: #1f1f1f;
       border-bottom: 3px solid red;
    }

    .tab.active::after {
        content: "";
        position: absolute;
        bottom: -2px;        
        left: 0;
        width: 100%;
        height: 4px;        
        background: #FA5959;
        border-radius: 2px;
    }

    .features-1{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .features-1 h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
        margin-bottom: 0.5em;
    }

    .features-1 p{
        line-height: 1.5;
        color: var(--color-grey);
        margin-bottom: 2em;
    }
    .right-features {
        display: flex;
        text-align: start;
        justify-content: center;
        flex-direction: column;
        align-items: start;
    }

    .right-features h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
        margin-bottom: 0;
    }

    .right-features p{
        color: var(--color-grey);
        line-height: 1.5;
        max-width: 40ch;
    }

    .features-left{
        display: flex; 
        align-items: start;
        justify-content: center;
    }

    .features-2{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: start;
        margin-top: 3em;
        gap: 5em;
    }

    .rectangle-2 {
        position: absolute;
        width: 40%;
        height: 75%;
        background-color: var(--primary);
        border-radius: 0 50% 50% 0;
        left: 0;
        bottom: 0em;
        z-index: -1;
    }

    /*Download section*/

    .download-text h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
    }

    .download-text p{
        color: var(--color-grey);
        line-height: 1.5;
        max-width: 53ch;
    }

    .download-text {
        margin: 5em 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*Cards*/

    .card-title{
        font-size: 1.25rem;
        color: var(--color-darkest);
    }

    .card-text{
        font-size: 0.875rem;
        line-height: 1.5;
        color: var(--color-grey);
    }

    .cards button{
        font-size: 0.875rem;
    }

    .card-chrome{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        position: relative;
        max-width: 300px;
        flex: 1;
        transition: transform 0.3s ease;
        transform: translateY(0)
    }

    .card-firefox{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        position: relative;
        max-width: 300px;
        flex: 1;
        transition: transform 0.3s ease;
        transform: translateY(20%)
    }

    .card-opera{
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        padding: 2rem 1.5rem 3rem;
        text-align: center;
        position: relative;
        max-width: 300px;
        flex: 1;
        transition: transform 0.3s ease;
        transform: translateY(40%);
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        align-items: flex-start;
        margin-top: 2em;
        margin-bottom:  2em;
    }
    
    .bg-dots{
        margin-bottom: 1em;
        align-items: center;
        justify-content: center;
    }

    /*FAQ Section*/

    .faq-text{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20em;
        margin-bottom: 2em;
    }

    .faq-text h3{
        color: var(--color-darkest);
        margin-bottom: 0;
        font-size: 1.5rem;   
        line-height: 1.33;
        margin-bottom: 0.75em;
    }

    .faq p{
        max-width: 50ch;          
        margin: 0 auto;
        line-height: 1.5;
        color: var(--color-grey);
    }

    .faq details summary {
        max-width: 500px;
        list-style: none;
        cursor: pointer;
        display: flex;               
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;   
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        margin:0 auto;
        padding: 0 1.5rem; 
    }

    .faq p{
        max-width: 50ch;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-grey);
        text-align: center;
        line-height: 1.5;
    }

    .faq h4{
        font-size: 1rem;
        line-height: 1.5;
        color: var(--color-darkest);
        margin-bottom: 1em;

        &:hover{
            color: var(--secondary);
        }
    }

    .faq .ask  p{
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 0.5rem 0 1.5rem;
        color: var(--color-grey);
    }

    .info-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.875rem;
        line-height: 1.2;
        margin-top: 2em;
        margin-bottom: 5em;
    }


    /*Formulary section*/

    .newsletter{
        background: var(--primary);
        margin-top: 5em 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--primary);
        align-items: center;
        justify-content: center;
        margin-top: 2.75em;
    }

    .form-text h3{
        display: flex;
        color: var(--color-white);
        font-size: 1.75rem;
        text-align: center;
        flex-direction: row;
    }

    .form-text p{
        letter-spacing: 0.10rem;
        color: var(--color-white)   ;
        font-size: 0.875rem;
        line-height: 1.2;
    }
    .formulary{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        gap: 1rem;
    }

    #email{
        padding: 0.75rem 2rem;
        border-radius: 5px;
        border: none;
        gap: 0.5em;
        max-width: 30%;
        font-size: 0.7rem;
        text-align: center;
    }

    .formulary button{
        background-color: var(--secondary);
        color: white;
        padding: 0.75rem 0;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        max-width: 20%;

        &:hover{
            background-color: var(--color-white);
            border: 1px solid var(--secondary);
            color: var(--secondary);
        }
    }

    /*Navbar 2*/

    .navbar2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-list2{
        background-color: var(--color-navy);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        ul{
          flex-direction: row;
          padding-top: 2em;
          width: 100%;
          padding: 1em 0;
          max-width: 100%;
        }

        a{
            color: var(--color-white);
            font-size: 0.7rem;
            text-decoration: none;
            margin: 0.5em 0em;
        }

        &:hover{
            color: var(--secondary);
        }
    }

    #social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-right: 0 20em;

        a{ 
            &:hover{
                color: var(--secondary);
            }
        }
    }
}
